div.readWearBar {
    position: relative;
    padding: 1px 0;
    height: 60px;
    background: #d5ade28a;
    text-align: right;
    .readwear-block {
        position: absolute;
        height: 7.5px;
        background: #ff000052;
        border-radius: 10px;
        transition: height 0.20s;
        cursor: pointer;
        &:hover,
        &:focus {
            background: red;
            height: 8.5px;
        }
    }
}